
/01_raw_data/01_manhatten_burglary
/01_raw_data/02_brooklyn_burglary
/01_raw_data/03_queens_burglary
/01_raw_data/04_bronx_burglary
/01_raw_data/05_statenisland_burglary
/01_raw_data/06_no_burglary
01_raw_data/04_bronx_burglary.zip
01_raw_data/01_manhatten_burglary.zip
01_raw_data/02_brooklyn_burglary.zip
01_raw_data/03_queens_burglary.zip
01_raw_data/05_statenisland_burglary.zip
01_raw_data/06_no_burglary.zip
